<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="K3_URL" value="http://14.18.236.28:9898/k3cloud/" />
    <add key="K3_ZTID" value="5a4b0e5784c0cf" />
    <add key="K3_User" value="K3ERP0903" />
    <add key="K3_Orcl_IP" value="221.5.103.115:15212/K3DATA" />
    <add key="K3_Orcl_PWD" value="2ChC2U:`-n|yNV[)4q" />
    <add key="SQL_IP" value="." />
    <add key="SQL_Port" value="" />
    <add key="SQL_User" value="sa" />
    <add key="SQL_PWD" value="9VZCVMqFg(!sYq+]CmKX" />
    <add key="SQL_Catalog" value="WMS" />
    <add key="LSP_LockType" value="1" />
    <add key="LSP_LockNumber" value="2.0" />
    <add key="LSP_LockPercent" value="5.0" />
    <add key="LSP_IsUse" value="1" />
    <add key="ORP_SafeStockDays" value="25" />
    <add key="ORP_LogisticsDays" value="5" />
    <add key="ORP_AddGoodsDays" value="10" />
    <add key="ORP_LowGoods" value="500.0" />
    <add key="ORP_MinBats" value="40.0" />
    <add key="ORP_StarTime" value="2018-6-1 00:00:00" />
    <add key="ORP_EndTime" value="2018-9-1 23:59:59" />
    <add key="ORP_SumMoonths" value="93" />
    <add key="ORP_AddJoinQty" value="0.0" />
    <add key="Time_Minute" value="30" />
    <add key="Time_Object" value="DIRECT" />
    <add key="Time_Description" value="直接调拨自动执行时间间隔" />
    <add key="damo" value="handsome" />
    <add key="chebang" value="newbee" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=WMS;User ID=sa;Password=1234;Max Pool Size=1024;" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>